.container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.infoContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.info {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Using preset button from Buttons.jsx instead */
/* .button {
  background: red;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: rgb(255, 64, 64);
  }
} */

.board {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.square {
  font-size: 20px;
  text-shadow: black 1px 1px 1px;
  background: rgb(41, 162, 218);
  border: white 1px solid;
  border-radius: 3px;
  height: 30px;
  width: 30px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.revealed {
  background: rgb(200, 200, 200);
  cursor: default;
}

.number1 {
  color: rgb(70, 210, 70);
}

.number2 {
  color: rgb(70, 160, 210);
}

.number3 {
  color: rgb(60, 140, 180);
}

.number4 {
  color: rgb(210, 180, 50);
}

.number5 {
  color: rgb(200, 100, 50);
}

.number6 {
  color: rgb(180, 30, 30);
}

.number7 {
  color: rgb(100, 20, 130);
}

.number8 {
  color: rgb(0, 0, 0);
}
