.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.board {
  margin-bottom: 2rem;
}

.boardRow {
  display: flex;
}

.square {
  width: 90px;
  height: 90px;
  background: #fff;
  border: 1px solid #999;
  font-size: 3rem; 
  font-weight: bold;
  color: #222;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.status {
  margin-bottom: 10px;
  font-size: var(--fontsize-normal);
  font-weight: bold;
}

.squareX {
  color: rgb(255, 136, 67);
}
.squareO {
  color: gold;
}