.main {
  font-size: var(--fontsize-large);
  /* min-height: 100dvh; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameList {
  /* border: white 1px solid; */
  max-width: 950px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gameTitle {
  font-size: var(--fontsize-title5);
  margin: 3px 0px;
}
