:root {
  --background-main: rgb(33, 33, 33);
  --background-header: rgb(22, 22, 22);
  --background-header2: rgb(4, 24, 40);

  --text: rgb(240, 240, 240);

  --fontsize-small: 17px;
  --fontsize-normal: 20px;
  --fontsize-large: 24px;

  --fontsize-title1: 48px;
  --fontsize-title2: 42px;
  --fontsize-title3: 36px;
  --fontsize-title4: 30px;
  --fontsize-title5: 24px;
}

* {
  font-family: system-ui, sans-serif, Arial, Helvetica;
  color: var(--text);
  text-shadow: black 1px 1px 2px;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
}

a {
  text-decoration: none;
}

p {
  font-size: var(--fontsize-normal);
}

h1 {
  font-size: var(--fontsize-title2);
}

.homepageBG {
  background: url(/bg.png) no-repeat fixed top;
  background-size: cover;
}

.header {
  background: var(--background-header2);
  box-shadow: black 0px 0px 10px;
  width: 100%;
  height: fit-content;
  padding: 10px 0px;
  margin-bottom: 50px;
  gap: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  font-size: 30px;
  margin: 0px 25px;
  gap: 25px;
  display: flex;
  align-items: center;
}

.logo {
  margin: 0px 10px;
  width: 200px;
}

.main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-list {
  border: white 1px solid;
  max-width: 650px;
  width: fit-content;
  height: fit-content;
  margin: 10px;
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
}

.game-card {
  border: white 1px solid;
}

.game-thumbnail {
  background: greenyellow;
  border: white 1px solid;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  width: 300px;
}

.game-title {
  font-size: var(--fontsize-title5);
  margin: 3px 5px;
}
