:root {
  --background-main: rgb(33, 33, 33);
  --background-header: rgb(22, 22, 22);
  --background-header2: rgb(4, 24, 40);

  --fontsize-small: 17px;
  --fontsize-normal: 20px;
  --fontsize-large: 24px;

  --fontsize-title1: 48px;
  --fontsize-title2: 42px;
  --fontsize-title3: 36px;
  --fontsize-title4: 30px;
  --fontsize-title5: 24px;

  --text: rgb(240, 240, 240);

  --bg1: #336699;
  --bg2: #ffffff;
  --custom-bg1: url(/images/background/bg.png) no-repeat fixed top;

  --text-color1: #f4f4f4;
  --text-color2: #000000;
  --error-text-color: #ff0000;
}

.homepageBG {
  background: var(--custom-bg1);
  color: var(--text-color1);
  background-size: cover;
}

.gamepageBG {
  background-color: var(--bg1);
  color: var(--text-color1);
}

.defaultBG {
  background-color: var(--bg1);
  color: var(--text-color1);
}

* {
  font-family: system-ui, sans-serif, Arial, Helvetica;
  color: var(--text);
  text-shadow: black 1px 1px 2px;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
}

a {
  text-decoration: none;
}

p {
  font-size: var(--fontsize-normal);
}

h1 {
  font-size: var(--fontsize-title2);
}
.header {
  background: var(--background-header2);
  box-shadow: black 0px 0px 10px;
  width: 100%;
  height: fit-content;
  /* padding: 10px 0px; */
  margin-bottom: 50px;
  gap: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  font-size: 30px;
  margin: 0px 25px;
  gap: 25px;
  display: flex;
  align-items: center;
}

.logo {
  margin: 0px 10px;
  width: 200px;
}