:root {
  --background-main: rgb(33, 33, 33);
  --background-header: rgb(22, 22, 22);
  --background-header2: rgb(4, 24, 40);

  --fontsize-small: 17px;
  --fontsize-normal: 20px;
  --fontsize-large: 24px;

  --fontsize-title1: 48px;
  --fontsize-title2: 42px;
  --fontsize-title3: 36px;
  --fontsize-title4: 30px;
  --fontsize-title5: 24px;

  --text: rgb(240, 240, 240);

  --bg1: #336699;
  --bg2: #ffffff;
  --custom-bg1: url(/images/background/bg.svg);
  --custom-bg2: url(/images/background/bg2.svg);
  --custom-bg2-portrait: url(/images/background/bg2_portrait.svg);

  --text-color1: #ffffff;
  --text-color2: #000000;
  --error-text-color: #ff0000;

  /* info checkers style */
  --bg-theme-style1: #EEEED2;
  --text-theme-style1: #2D2D2D;
  --shadow-theme-style1: 0 2px 5px #A89E80;
}
html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepageBG {
  background: var(--custom-bg1) repeat fixed top;
  color: var(--text-color1);
  background-size: cover;
}

.gamepageBG {
  background: var(--custom-bg2-portrait) repeat fixed center;
  color: var(--text-color1);
  background-size: cover;
}

.defaultBG {
  background-color: var(--bg1);
  color: var(--text-color1);
}

* {
  font-family: system-ui, sans-serif, Arial, Helvetica;
  color: var(--text);
  text-shadow: black 1px 1px 2px;
  padding: 0;
  margin: 0;
  transition: 0.1s;
}

body {
  background: var(--background-main);
}

a {
  text-decoration: none;
}

p {
  font-size: var(--fontsize-normal);
}

h1 {
  font-size: var(--fontsize-title2);
}