.infoContainer {
  background: var(--bg-ct-style1);
  border-radius: 12px;
  box-shadow: var(--b-shadow-info);
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto 2rem auto;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: var(--fontsize-normal);
}

.infoTitle {
  color: var(--text-info-title);
  text-align: center;
  margin-bottom: 1rem;
  font-size: var(--fontsize-title4);
  letter-spacing: 1px;
}

.infoSection {
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  background: var(--bg-ct-style2);
  border-radius: 8px;
  border-left: var(--section-border-left);
  text-align: left;
}

.sectionTitle {
  color: var(--text-info-title);
  margin-bottom: 0.5rem;
  font-size: var(--fontsize-large);
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
}

.sectionContent ul {
  padding-left: 1.5rem;
  margin: 0;
  font-size: var(--fontsize-normal);
}

.sectionContent li {
  margin-bottom: 0.5rem;
  color: var(--text-section-content);
  font-size: var(--fontsize-normal);
  line-height: 1.6;
}

.sectionContent ul ul {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: var(--fontsize-small);
}

.sectionContent li strong {
  color: var(--text-section-content-strong);
  font-weight: bold;
}